@import "abstracts/variables";
@import "abstracts/functions";

@import "base/reset";
@import "base/typography";

@import "components/buttons";

@import "layouts/footer";

// convert pixel to small screen view width
@function small($pixel) {
  @return ($pixel / 375 * 100) + vw;
}

%margin {
  margin: 0 small(16);
}

%deep-margin {
  margin: 0 small(24);
}

.home {
  background-color: $main-bg-color;

  header {
    h1,
    p,
    .btn {
      @extend %margin;
    }
    .img {
      background-image: url("../assets/mobile/image-hero@2x.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 240px;
      width: 375px;
      height: small(240);
      width: small(375);
    }

    h1 {
      margin-top: rem(32);
    }

    p {
      margin-bottom: rem(37);
    }

    .btn {
      margin-bottom: rem(120);
    }
  }

  main {
    @extend %margin;

    .img {
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .first {
      .img {
        background-image: url("../assets/mobile/image-grid-1.jpg");
        height: small(320);
        margin-bottom: rem(25);
        width: small(343);
      }
    }

    .second {
      margin-top: rem(37);

      .img {
        margin-bottom: rem(16);

        &--one {
          background-image: url("../assets/mobile/image-grid-2.jpg");
          height: small(480);
          width: small(343);
        }

        &--two {
          background-image: url("../assets/mobile/image-grid-3.jpg");
          height: small(200);
          width: small(343);
        }
      }

      .text-box {
        background-color: $box-bg-color;
        color: $lt-txt-color;
        padding-bottom: rem(52);
        padding-top: rem(48);

        h2 {
          @extend %deep-margin;
          color: $lt-txt-color;
        }

        p {
          @extend %deep-margin;
          margin-top: rem(19);
          color: $lt-txt-color;
        }
      }
    }
  }
}

.location {
  header {
    background-image: url("../assets/mobile/image-map.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: small(550);
    width: 100vw;
  }

  main {
    padding-bottom: rem(61);
    padding-top: rem(48);
    background-color: $black;
    h1,
    li,
    p {
      @extend %margin;
      color: $white;
    }

    .heading-M {
      color: $orange;
      margin-bottom: rem(32);
    }

    ul {
      margin-bottom: rem(32);
    }
  }

  .footer {
    background-color: $orange;
    margin-top: 0;

    h2,
    p {
        color: $black;
    }

  }
}
