.location {
    header {
      background-image: url("../assets/mobile/image-map.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: small(550);
      width: 100vw;

      @include media-M {
        background-image: url('../assets/tablet/image-map.png');
        height: medium(600);

        .btn {
          margin-left: medium(40);
        }
      }

      @include media-L {
        background-image: url('../assets/desktop/image-map.png');
        height: large(600);

        .btn {
          margin-left: large(156);
        }
      }
    }
  
    main {
      padding-bottom: rem(61);
      padding-top: rem(48);
      background-color: $black;

      @include media-M {
        display: grid;
        grid-template-areas: 'heading address' 'heading para';
        padding-bottom: rem(85);
        padding-top: rem(88)
      }

      @include media-L {
        padding-bottom: rem(132);
        padding-top: rem(130);
      }

      h1,
      li,
      p {
        @extend %margin;
        color: $white;

        @include media-M {
          margin: 0 medium(40);
        }

        @include media-L {
          margin: 0;
        }
      }

      .heading-L {

        @include media-L {
          margin-left: large(156);
          margin-right: large(270);
        }
        
      }
  
      .heading-M {
        color: $orange;
        grid-area: heading;
        margin-bottom: rem(32);
      }
  
      ul {
        grid-area: address;
        margin-bottom: rem(32);
      }

      p {
        grid-area: para;

        @include media-L {
          margin-right: large(165);
        }
      }
    }
  
    .footer {
      background-color: $orange;
      margin-top: 0;
  
      h2,
      p {
          color: $black;
      }
  
    }
  }
  