//color pallet
$orange: hsla(24, 56%, 63%, 1);
$black: hsla(0, 0%, 8%, 1);
$dark-gray: hsla(0, 0%, 27%, 1);
$white: hsla(0, 0%, 100%, 1);

//Text colors
$header-txt-clr: $black;
$body-txt-color: $dark-gray;
$lt-txt-color: $white;
$btn-txt-color: $white;

//background colors
$btn-main-bg: $black;
$btn-secondary-bg: $orange;

$main-bg-color: $white;
$box-bg-color: $black;